<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                <h1>Pagamento N°{$order.idorder}</h1>

                <button type="submit" id="btn-print" class="button alt" style="margin-bottom:10px"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Imprimir</button>
                <br/>

            </div>
            <div class="col-md-2">

            </div>
            
            <div class="col-md-4">
                <iframe src="/boleto/{$order.idorder}"  name="boleto"  frameborder="0" style="align-self: auto ;width:730px; min-height:1000px; border:1px solid #CCC; padding:20px;"></iframe>
            </div>
            
                
            <div>

                <script>
                document.querySelector("#btn-print").addEventListener("click", function(event){

                    event.preventDefault();

                    window.frames["boleto"].focus();
                    window.frames["boleto"].print();

                });                
                </script>
            
            </div>
        </div>
    </div>
</div>